html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    overflow: auto;
}

.fighters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 15px;
    max-height: 100%;
}

.fighter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 160px;
}

.fighter-image img {
    max-height: 100%;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

img {
    max-width: 100%;
    vertical-align: top;
}

#modals {
    visibility: hidden;
}

.modals__form {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.63);
    width: 100%;
    max-width: 300px;
    padding: 20px;
    transform: translate(-50%, -50%);
    display: grid;
    grid-auto-columns: 1fr;
    grid-gap: 20px;
    border-radius: .5em;
}

.modals__info {
    /*margin: 0 auto;*/
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.modals__name {
    font-size: 2em;
    hyphens: auto;
}

.modals__img {
    height: 80px;
    margin: auto;
}

.modals label {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
    align-items: center;
    text-transform: capitalize;
    font-size: 1em;
}

.modals span:last-child,
.modals input {
    display: block;
    width: 100%;
    height: 2.6em;
    padding: 0 1em;
    font-size: .8rem;
    background: #fff;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
}

.modals span:last-child {
    border-color: #fff;
    /*line-height: 2.6em;*/
    height: auto;
}

.modals__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.btn-start,
.btn-red,
.btn {
    cursor: pointer;
    padding: .5em 1em .6em;
    background: linear-gradient(90deg, #0084ff, #00c4ff);
    font-size: 1em;
    color: #fff;
    border-radius: .3em;
    border: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.btn-start:hover,
.btn:hover,
.btn-red:hover {
    transform: scale(1.05);
}

.btn-red {
    background: linear-gradient(90deg, #ff0000, #ff4579);
}

.btn-start {
    margin-bottom: 2em;
}

.fighter-check {
    background: #ccc;
    padding: 5px 8px;
    border-radius: 5px;
    margin-top: 7px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
}

.fighter-check input:checked ~ span {
    color: #008800;
}

.fight {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.63);
    width: 400px;
    max-width: 100%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: .5em;
    z-index: 6;
    visibility: hidden;
}

.fight__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.fight__title {
    grid-column: 2 span;
    text-align: center;
    font-size: 2em;
    margin-bottom: .5em;
}

.fight__item{
    position: relative;
}

.fight__item:nth-child(2) .fight__img {
    transform: scaleX(-1);
}

.fight__item:nth-child(2) .fight__name {
    text-align: right;
}

.fight__item:nth-child(2) .fight__health {
    transform: scaleX(-1);
}

.fight__img {
    height: 200px;
}

.fight__img img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.fight__name {
    margin: .3em 0;
    font-size: 1.4em;
}

.fight__health {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 1em;
    border: none;
}

.fight__health[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.fight__health[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
            -webkit-linear-gradient(left, #00cc5a, #00cc5a);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.fight__health[value]::-moz-progress-bar {
    background-image: -moz-linear-gradient(135deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
    -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -moz-linear-gradient(left, #00cc5a, #00cc5a);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.fight__alert{
    position: absolute;
    font-size: 3em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 1em .5em;
    text-align: center;
    z-index: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    visibility: hidden;
}